body{
    background-color: #000;
}
h2{
    margin-bottom: 40px;
}
p{
    font-size: 24px;
    line-height: 10px;
    color: #fff;
}

h2, p {
    animation: scrollingeffect ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
@keyframes scrollingeffect{
    from {
        opacity 0;
        clip-path: inset(0, 0, 0, 0);
        transform: translateY(100px);
    }
    to {
        opacity 10;
        transform: translateY(0);
    }
}